@font-face {
  font-family: "Nissan Light";
  src: url("../fonts/NissanBrand-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Nissan Regular";
  src: url("../fonts/NissanBrand-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Nissan Bold";
  src: url("../fonts/NissanBrand-Bold.woff2") format("woff2");
}
